body{
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

.header {
    font-size: 20px;
    display: flex;
    border-bottom: 1px solid #000;
    padding: 5px 10px;
    align-items: center;
}
.footer{
    font-size: 13px;
    padding: 0px 20px
}

.logo {
    color:lightgreen;
    background: rebeccapurple;
    font-weight: 700;
    margin-right: 50px;
    padding: 5px 20px;
    text-decoration: none;
}

a{
    color: rebeccapurple;
    font-weight: 700;
    text-decoration: none;
}

h1, h2, h3{
    text-transform: uppercase;
    letter-spacing: 0,5;
}

ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
ul > li {
    margin-right: 30px;    
}

ul>li:last-child{
    margin-right: 0;
}
.box {
    display: flex;
    margin-bottom: 30px;
    gap: 20px;
    border-bottom: 1px solid #000;
}
.aside {
    background-color: lavender;
    padding: 10px 20px;
}
section{
    background-color: lavender;
    padding: 5px 15px;
    margin-bottom: 20px;
}
.post {
    padding-bottom: 20px;
}
.link{
    background: rebeccapurple;
    color: white;
    padding: 8px 15px;
    margin-left: 10px;
}
